<section class="header d-none d-sm-flex">
    <div class="container">
        <div class="row align-items-center">
            <div class="colums col-md-6" style="display: flex;">
                <div class="logo"></div>
                <div class="vertical-line"></div>
                <span>Plan Financiero Digital - FPX</span>
            </div>
            <div class="colums col-md-3">
                <img src="./assets/icons/happy.svg" alt="Icono" class="container-img icon">
                <span>Tu Financial planer</span>
            </div>
            <div class="colums col-md-3">
                <img src="./assets/icons/hand3.svg" alt="Icono" class="container-img icon">
                <span>Aportes</span>
                <img src="./assets/icons/question.svg" alt="Icono" class="container-img icon" style="margin-left: 10px;">
            </div>
          </div>
    </div>
</section>