<div class="row banner">
        <div class="col-md-4 col-sm-12" style="justify-content: flex-end;">
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card">
                            <div class="card-header">
                                <div class="text-box col-4" style="background-color: #C0F3FF;">
                                    <p class="text-card">Ahorro e inversion</p>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="container">
                                    <span class="text-banner col-12">¡Fondo de inversión Colectiva, la <b>acción para potenciar tu capital y hacer real tu objetivo!</b></span><br>
                                    <span class="subtitle-banner col-12 mt-4">Conoce mas</span><br><br>
                                    <div class="col-12">
                                        <img src="./assets/icons/world.svg" alt="Icono" class="container-img icon">
                                        <span class="desc-banner col-12"> Rentabilidades mínimas del <b>3% anuales</b></span>
                                    </div>
                                    <div class="col-12">
                                        <img src="./assets/icons/profile.svg" alt="Icono" class="container-img icon">
                                        <span class="desc-banner col-12"><b> 4.000 clientes</b>confían en este producto</span>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card">
                            <div class="card-header">
                                <div class="text-box col-4" style="background-color: #C0F3FF;">
                                    <p class="text-card">Ahorro e inversion</p>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="container">
                                    <span class="text-banner col-12">¡Fondo de inversión Colectiva, la <b>acción para potenciar tu capital y hacer real tu objetivo!</b></span><br>
                                    <span class="subtitle-banner col-12 mt-4">Conoce mas</span><br><br>
                                    <div class="col-12">
                                        <img src="./assets/icons/world.svg" alt="Icono" class="container-img icon">
                                        <span class="desc-banner col-12"> Rentabilidades mínimas del <b>3% anuales</b></span>
                                    </div>
                                    <div class="col-12">
                                        <img src="./assets/icons/profile.svg" alt="Icono" class="container-img icon">
                                        <span class="desc-banner col-12"><b> 4.000 clientes</b>confían en este producto</span>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card">
                            <div class="card-header">
                                <div class="text-box col-4" style="background-color: #C0F3FF;">
                                    <p class="text-card">Ahorro e inversion</p>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="container">
                                    <span class="text-banner col-12">¡Fondo de inversión Colectiva, la <b>acción para potenciar tu capital y hacer real tu objetivo!</b></span><br>
                                    <span class="subtitle-banner col-12 mt-4">Conoce mas</span><br><br>
                                    <div class="col-12">
                                        <img src="./assets/icons/world.svg" alt="Icono" class="container-img icon">
                                        <span class="desc-banner col-12"> Rentabilidades mínimas del <b>3% anuales</b></span>
                                    </div>
                                    <div class="col-12">
                                        <img src="./assets/icons/profile.svg" alt="Icono" class="container-img icon">
                                        <span class="desc-banner col-12"><b> 4.000 clientes</b>confían en este producto</span>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                </div>
        </div>
        <div class="col-2"></div>
</div>